body,
html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
@media (min-width: 600px) {
  header {
    background-image: url("./images/tomato.jpg");
    width: 100%;
    padding-bottom: 400px;
  }

  nav {
    display: inline-block;
    background-color: white;
    padding: 10px;
    width: 100%;
  }

  #navTitle {
    font-size: 100px;
    padding-left: 20px;
    font-family: "Fredericka the Great", cursive;
  }

  img {
    color: rgba(246, 246, 233, 1);
  }

  #menu {
    float: right;
    font-family: "Fredericka the Great", cursive;
    font-size: 50px;
    padding: 40px 40px 0 0;
  }

  #menu i {
    padding: 0 20px 0 20px;
  }

  #slogan {
    background-color: rgba(163, 158, 158, 0.6);
    color: white;
    width: 40%;
    margin: 400px 0 0 25%;
    text-align: center;
    font-size: 50px;
    padding: 50px;
    font-family: "Fredericka the Great", cursive;
  }

  hr {
    width: 15%;
    border: 2px solid red;
    margin: 90px 0 90px 42.5%;
  }

  section h1 {
    font-family: "Fredericka the Great", cursive;
    font-size: 100px;
    font-weight: 500;
    color: red;
  }

  section h1,
  h2,
  p {
    text-align: center;
  }

  section h1 {
    margin-top: 200px;
  }

  section p {
    width: 85%;
    margin-left: 7.5%;
    font-size: 50px;
    font-family: "Mukta", sans-serif;
    color: grey;
    font-weight: 500;
    padding: 40px 0 40px 0;
  }

  section li {
    text-align: center;
  }

  #getToKnow li img {
    margin-top: 100px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 6px solid white;
  }

  #getToKnow h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 50px;
    font-weight: 600;
    padding: 40px 0 40px 0;
  }

  #quotePic {
    background-image: url("./images/cook.jpg");
    color: grey;
    height: 1000px;
    background: linear-gradient(rgba(20, 20, 20, 0.4), rgba(20, 20, 20, 0.4)),
      url("./images/cook.jpg");
    font-family: "Open Sans", sans-serif;
    background-position: bottom center;
    text-align: center;
  }

  #author {
    margin-left: 50%;
    font-size: 25px;
  }

  #quotePic i {
    padding-top: 100px;
    font-size: 100px;
    color: white;
  }

  #summary img {
    width: 90%;
    margin-top: 100px;
    text-align: center;
  }

  footer {
    background-color: rgba(45, 45, 45, 1);
    margin-top: 100px;
    padding: 30px;
    color: white;
  }

  footer h2 {
    font-family: "Fredericka the Great", cursive;

    font-size: 80px;
    margin-top: 50px;
  }

  footer hr {
    width: 80%;
    margin: 40px 0 40px 10%;
    border-color: white;
  }

  footer ul {
    text-align: center;
    padding: 0;
    color: white;

    font-family: "Open Sans", sans-serif;
  }
  footer li {
    font-size: 30px;
    padding: 10px;

    font-family: "Open Sans", sans-serif;
  }
  footer p {
    line-height: 50px;

    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    width: 80%;
    margin-left: 10%;
  }

  footer i {
    padding-right: 20px;
  }
}
@media (min-width: 786px) {
  /* nav {
    background-color: transparent;
    color: white; */
  /* } */
  #menu {
    float: right;
    font-family: "Fredericka the Great", cursive;
    font-size: 30px;
    padding: 40px 40px 0 0;
  }
  nav {
  }
  #navTitle {
    font-size: 80px;
    padding-left: 20px;
    font-family: "Fredericka the Great", cursive;
  }

  section h1 {
    font-size: 60px;
  }
  section p {
    width: 85%;
    margin-left: 7.5%;
    font-size: 30px;
  }
  #quotePic {
    height: 800px;
  }
  #getToKnow ul {
    display: flex;
  }
  #getToKnow li {
    padding: 5%;
    margin: 0;
    width: 20%;
    display: inline-block;
    flex: 1;
  }

  #getToKnow li img {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #getToKnow h2 {
    font-size: 30px;
  }
  #getToKnow p {
    font-size: 25px;
  }

  #summary ul {
    width: 100%;
    display: inline-block;
    display: flex;
  }
  #summary li {
    width: 40%;
    flex: 1;
  }
}
